@import "scss/abstract/mixins",
        "scss/abstract/variables",
        "scss/component/buttons",
        "scss/layout/header",
        "scss/layout/footer",
        "scss/abstract/about-me.scss",
        "scss/layout/profil.scss";