header {
    height: 5vh;
    width: 100%;
    margin-bottom: 15px;
    background-color: var(--main-color);

    nav {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 5vh;
        flex-direction: row;
        text-align: center;

        .right {
            grid-column: 5;
        }
        .right1 {
            grid-column: -1;
        }
        .left {
            grid-column: 1;
        }
        
        ul {
            display: block;
            text-align: center;
            width: 15vw;
            margin: 15px;
            

            a {
            color: white;
            padding: 1vh 1vw 1vh 1vw;
            background-color: var(--button-color);
            }
        }
        
        .home {
            a {
                color: #000;
            }
        }
        
    }

    @media screen and (max-width:800px) {
        .section {
            min-height: 25vh;
        }
        nav {
            font-size: 1.05vh;
            display: inline-block;
            grid-template-columns: 1fr;
            
            width: 100%;
            ul {
                display: inline-block;
                width: 22vw;
            }
            .left, .right, .right1 {
                grid-column: 1;
            }
        }
    }
}