header {
    height: 5vh;
    width: 100%;
    margin-bottom: 15px;
    background-color: var(--main-color);

    nav {
        display: flex;

        .nav-right {
            width: 60%;
            display: flex;
            justify-content: end;
        }
        .nav-left {
            width: 40%;
        }
        
        .burger {
            display: block;
            text-align: center;
            width: 10vw;
            margin: 15px;
            background-color: var(--button-color);

            a {
            color: white;
            }
        }
        
        .home {
            a {
                color: #000;
            }
        }
        
    }

}
