.container_profil {
    grid-row: 1;
    height: 25vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    color: var(--main-color);
    h1 {
        padding: 2vh;
    }
    img {
        width: 10vh;
    }
}


.container-competence {
    height: auto;
    grid-column: 2;
    grid-row: 1/-1;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 55vh 10vh;
    gap: 2vh;
    
    
    .designer, .developper, .language, .social-network {
        height: 60vh;
        background-color:rgb(53, 53, 53) ;
        text-align: center;
        border-radius: 1vh;
        color: var(--main-color);
        box-shadow: 1.6px 3.2px 3.2px hsl(0deg 0% 0% / 0.45);

        
    }
    .designer {
        grid-row: 1;
        grid-column: 1/3;
        
    }
    .desc{
        padding: 15px;
        margin-bottom: 2vh;
        height: 5vh;
    }   
    .social-network {
        grid-row: 3;
        grid-column: 4/ -1;
        
    }
    .language {
        grid-row: 3;
        grid-column: 1/3;
    }
    .tools, .lang, .network{
        height: auto;
        margin: 5vh;
        .logo {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr 1fr;
            gap: 1vh;
            span {
                display: flex;
                justify-content: center;
                align-items: center;
                h3{
                    display: none;
                    
                }
                :hover{
                    opacity: 0.8;
                    
                }
                
                
            }
        }
    
}
.title-designer, .title-developper, .title-language, .title-sn {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
    .developper {
        grid-row: 1;
        grid-column: 4/-1;
    }
}
@media screen and (max-width:800px) {
    section {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
        
    .container-competence{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-column: 1;
        grid-row:1;
        gap: 5vh;

        .designer, .developper, .language, .social-network{
            height: 65vh;
            grid-column: 1;
        }
        .designer{
            grid-row: 1;
        }
        .developper{
            grid-row: 2;
            
        }
        .language{
            grid-row: 3;
        }
        .social-network{
            grid-row: 4;
        }
    }
}