.moutain-image {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
section {
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin: 0 auto;
    display: grid;
    min-height: 55vh;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: auto;
    background-color: var(--background-color);
    .item {
        height: 100%;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        

        
}


}
    

    .items1 {
        grid-row: 1;
        grid-column: 2;
        color: var(--main-color);
        .container1{
            width: 100%;
            height: 80vh;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: auto;
            
            .moutain-image {
                width: 100%;
                height: 15vh;
                grid-column: 2/5;
                grid-row: 2;
                background-size: 120vh;
                background-position: center;
            }
            .title, .title-myself, .desc-profil{
                grid-column: 2/5;
            }
            .title {
                height: 10vh;
                margin-top: 10vh;
                grid-row: 1;
                h1{
                    text-align: center;
                    font-size: 4vh;
                }
            }

            h2 {
                text-align: center;
                font-size: 2.5vh;
            }
            
            .desc-profil {
                height: auto;
                width: 100%;
                grid-row: 3;

                p {
                    padding: 15px;
                }
            }
        }
        
    }
    
    .items2, .items3 {
        grid-row: 1/4;
        background-color:white;
    }
    @media screen and (max-width:800px) {
        section{
            min-height: 100vh;
            grid-template-columns: 1fr;
        }
        .items1{
            grid-template-columns: 1fr;
            .container1{
                grid-template-columns: 1fr;
            }
    }
    }
    @media screen and (max-width:300px) {
        section{
            min-height: 155vh;
        }
    }
