.container-gallery {
    height: auto;
    grid-column: 2;
    grid-row: 1/-1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 20px;

    .gallery {
        height: 20vh;
        width: 100%;
        .image1 {
            width: 100%;
            height: 20vh;
            grid-column: 1;
            grid-row: 1;
            background-color: beige;
            img{
            }
        }

        
    }
}