.container-gallery {
    height: auto;
    width: 100%;
    grid-column: 2;
    grid-row: 1/-1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 20px;

    
        
        .image {
            width: 100%;
            height: 20vh;
            background-size: cover;
            background-position: center;

            
        }
        .image:hover{
            opacity: 1;
            background-size: 110%;
            background-position: center;
        }    
}


@media screen and (max-width:800px) {
    section {
        padding-top: 2vh;
        padding-bottom: 2vh;
        .container-gallery{
            grid-column: 1;
            grid-row: 1;
            grid-template-columns: 1fr;
            width: 95%;
            margin-right: auto;
            margin-left: auto;
        }
    }
}