@import  "../mixins/mixins";
.section-gallery{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 0 5%;
    background-color: var(--background-color);
    .title-sect-project{
        color: var(--main-color);
        h2{
            font-size: 4rem;
            text-align: center;
        }
    }
    .container-gallery {
        height: auto;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        .project-div{
            width: 25%;
            opacity: 1;
            @include s {
                opacity: 0;
            }
            h2, h3{
                color: var(--main-color);
            }
            img{
                width: 100%;
            }
            @include s {
                width: 100%;
            }
            h3{
                float: right;
            }
        }
           
    }
}