
        
        .work1 {         
            background-color: rgb(151, 151, 151);        
        }
        .work2 {
            background-color: rgb(151, 151, 151);        
        }
        .work2 {
            background-color: rgb(151, 151, 151);        
        }
        .work3 {
            background-color: rgb(151, 151, 151);        
        }
        .work4 {
            background-color: rgb(151, 151, 151);        
        }
        .work5 {
            background-color: rgb(151, 151, 151);        
        }
        .work6{
            background-color: rgb(151, 151, 151);
        }
        .moutain-image{
            background-image: url(./image/montaigne.SVG\).svg);
        }