header {
    height: 5vh;
    width: 100%;
    margin-bottom: 15px;

    nav {
        display: flex;
        float: right;

        .burger {
        text-align: center;
        width: 10vw;
        margin: 15px;
        background-color: wheat;

        a {
        color: white;
        text-decoration: none;
        }
        }

    }
}

section {
    max-width: 1200px;
    min-height: 200vh;
    margin: 0 auto;
    background: lightblue;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    .item {
        height: 100%;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        gap: 10px;


        
}


}
    

    .items1 {
        grid-row: 1/3;
        grid-column: 2/4;
        background-color: red;
        .container1{
            width: 100%;
            height: 100vh;

            h1{
                text-align: center;
            }
        }
        .container2{
            width: 100%;
            height: 100vh;

            h2 {
                text-align: center;
            }
        }
    }
    .items2 {
        grid-column: 1;
    }
    .items3 {
        grid-column: 4;
    }
    .items2, .items3 {
        grid-row: 1/4;
        background-color:beige;
    }

