.container-competence {
    height: auto;
    grid-column: 2;
    grid-row: 1/-1;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 55vh 10vh;

    .designer {
        height: 55vh;
        grid-row: 1;
        grid-column: 1/3;
        background-color:rgb(102, 99, 99) ;
        text-align: center;
    }
.desc{
    padding: 15px;
    margin-bottom: 2vh;
}

.tools{
    height: auto;
    .tools-app {
        display: flex;
        flex-direction: column;
        ul {
            margin: 0.5vh;
        }
    }
}
.title-designer, .title-developper {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
    .developper {
        height: 55vh;
        grid-row: 1;
        grid-column: 4/-1;
        background-color:rgb(102, 99, 99) ;
        text-align: center;
    }
}
@media screen and (max-width:800px) {
    section {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .container-competence{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column: 1;
        grid-row:1;
        gap: 5vh;
        .designer{
            grid-column: 1;
            grid-row: 1;
            height: 65vh;
        }
        .developper{
            grid-column: 1;
            grid-row: 2;
            height: 65vh;
        }
    }
}